<div class="row justify-content-center">
  <div class="col-6">
    <div class="content">
      <h2 class="text-center">New Mission</h2>
      <div class="sample-info">
        <p><strong>Sample Input:</strong></p>
        5 5 <br>
        1 2 N <br>
        L M L M L M L M M <br>
        3 3 E <br>
        M M R M M R M R R M <br>
      </div>

      <%= form_tag missions_path, class: 'new-mission-form' do %>
        <%= text_area_tag 'mission_info', nil, class: 'form-control', rows: '4', required: true%>
        <button type="submit" class="btn btn-success">Launch</button>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.new-mission').addClass('active')
</script>
