<div class="row justify-content-center">
  <div class="col-6">
    <div class="content">
      <h2 class="text-center"><%= @mission.name %></h2>
      <h4 class="mt-4">Output: </h4>
      <div class="mt-3 mission-output card">
        <ul class="list-group list-group-flush">
          <% @mission.rovers.each do |rover| %>
            <li class="list-group-item text-center">
              <%= "#{rover.position_x} #{rover.position_y} #{rover.orientation}" %>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.new-mission').addClass('active')
</script>
