<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag 'xing.png', size: "40" %>
    <%= image_tag 'rocket.png', size: "20" %>
    <%= image_tag 'nasa.png', size: "40" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item new-mission">
        <a class='nav-link' href="<%= new_mission_path %>">Launcher</a>
      </li>
    </ul>
  </div>
</nav>
